<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						">
	
	<!-- 装配hibernate的配置，创建sessionFactory实例  -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean" scope="singleton">
		<property name="dataSource" ref="dataSource"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				<prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
			</props>
		</property>
		<property name="mappingLocations" >
			<array>
				<value>classpath:hibernateMapping/ComHibernateHbm.hbm.xml</value>
			</array>
		</property>
	</bean>
	
	<!-- 配置动态sessionFactory持有者对象 -->
	<bean id="dynamicSessionFactoryHolder" class="com.king.tooth.plugins.orm.hibernate.dynamic.sf.DynamicHibernateSessionFactoryHolder">
		<property name="sessionFactorys">
			<map key-type="java.lang.String">
				<entry key="${current.sys.database.id}" value-ref="sessionFactory"></entry>
			</map>
		</property>
	</bean>
	
	<!-- 配置动态的hibernate sessionFactory操作者对象 -->
	<bean id="dynamicHibernateSessionFactoryHandler" class="com.king.tooth.plugins.orm.hibernate.dynamic.sf.DynamicHibernateSessionFactoryHandler">
		<property name="sessionFactoryHolder" ref="dynamicSessionFactoryHolder"></property>
	</bean>
</beans>
