<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						">
	
	<!-- 配置数据源 -->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">  
         <property name="url" value="${jdbc.url}" />  
         <property name="username" value="${jdbc.username}" />  
         <property name="password" value="${jdbc.password}" />  
         <property name="driverClassName" value="${jdbc.driverClassName}" />
          
         <property name="maxActive" value="${druid.datasource.maxActive}" /> 
         <property name="minIdle" value="${druid.datasource.minIdle}" /> 
         <property name="maxWait" value="${druid.datasource.maxWait}" /> 
         <property name="timeBetweenEvictionRunsMillis" value="${druid.datasource.timeBetweenEvictionRunsMillis}" /> 
         <property name="poolPreparedStatements" value="${druid.datasource.poolPreparedStatements}" /> 
         <property name="maxPoolPreparedStatementPerConnectionSize" value="${druid.datasource.maxPoolPreparedStatementPerConnectionSize}" />
	</bean>
	
	<!-- 配置动态数据源持有者对象 -->
	<bean id="dynamicDataSourceHolder" class="com.king.tooth.plugins.datasource.dynamic.DynamicDataSourceHolder" scope="singleton">
		<property name="dataSources">
			<map key-type="java.lang.String">
				<entry key="${current.sys.database.id}" value-ref="dataSource"></entry>
			</map>
		</property>
	</bean>
	
	<!-- 配置动态的druid数据源操作者对象 -->
	<bean id="dynamicDruidDataSourceHandler" class="com.king.tooth.plugins.datasource.dynamic.druid.DynamicDruidDataSourceHandler">
		<property name="dataSourceHolder" ref="dynamicDataSourceHolder"></property>
	</bean>
</beans>
