<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
				classpath:spring.xml
			</param-value>
  </context-param>
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>classpath:log4j.properties</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.king.tooth.listener.LoadPropertiesFileListener</listener-class>
  </listener>
  <filter>
    <filter-name>corsFilter</filter-name>
    <filter-class>com.king.tooth.filter.CorsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>corsFilter</filter-name>
    <url-pattern>/common/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>funcExecTimeFilter</filter-name>
    <filter-class>com.king.tooth.filter.FuncExecTimeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>funcExecTimeFilter</filter-name>
    <url-pattern>/common/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>com.king.tooth.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/common/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>databaseConnectionFilter</filter-name>
    <filter-class>com.king.tooth.filter.PrepareFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>databaseConnectionFilter</filter-name>
    <url-pattern>/common/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>recordReqLogFilter</filter-name>
    <filter-class>com.king.tooth.filter.RecordReqLogFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>recordReqLogFilter</filter-name>
    <url-pattern>/common/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>commonDispatcherServlet</servlet-name>
    <servlet-class>com.king.tooth.web.servlet.CommonDispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>commonDispatcherServlet</servlet-name>
    <url-pattern>/common/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>springMvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring-mvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>springMvc</servlet-name>
    <url-pattern>/common/sm/*</url-pattern>
  </servlet-mapping>
</web-app>